* {
  text-shadow: none !important;
  color: #000 !important;
  background: transparent !important;
  box-shadow: none !important; }

a,
a:visited {
  text-decoration: underline; }

a[href]:after {
  content: " (" attr(href) ")"; }

abbr[title]:after {
  content: " (" attr(title) ")"; }

a[href^="javascript:"]:after,
a[href^="#"]:after {
  content: ""; }

pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid; }

thead {
  display: table-header-group; }

tr,
img {
  page-break-inside: avoid; }

img {
  max-width: 100% !important; }

p,
h2,
h3 {
  orphans: 3;
  widows: 3; }

h2,
h3 {
  page-break-after: avoid; }

select {
  background: #fff !important; }

.navbar {
  display: none; }

.table td,
.table th {
  background-color: #fff !important; }

.btn > .caret,
.dropup > .btn > .caret {
  border-top-color: #000 !important; }

.label {
  border: 1px solid #000; }

.table {
  border-collapse: collapse !important; }

.table-bordered th,
.table-bordered td {
  border: 1px solid #ddd !important; }

.visible-print {
  display: block !important; }

table.visible-print {
  display: table; }

tr.visible-print {
  display: table-row !important; }

th.visible-print,
td.visible-print {
  display: table-cell !important; }

.visible-print-block {
  display: block !important; }

.visible-print-inline {
  display: inline !important; }

.visible-print-inline-block {
  display: inline-block !important; }

.hidden-print {
  display: none !important; }

/*# sourceMappingURL=print.css.map */
