.table-responsive {
  width: 100%;
  margin-bottom: 16.5px;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
  -webkit-overflow-scrolling: touch; }
  .table-responsive > .table {
    margin-bottom: 0; }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > tfoot > tr > td {
      white-space: nowrap; }
  .table-responsive > .table-bordered {
    border: 0; }
    .table-responsive > .table-bordered > thead > tr > th:first-child,
    .table-responsive > .table-bordered > thead > tr > td:first-child,
    .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive > .table-bordered > tfoot > tr > td:first-child {
      border-left: 0; }
    .table-responsive > .table-bordered > thead > tr > th:last-child,
    .table-responsive > .table-bordered > thead > tr > td:last-child,
    .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive > .table-bordered > tfoot > tr > td:last-child {
      border-right: 0; }
    .table-responsive > .table-bordered > tbody > tr:last-child > th,
    .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .table-responsive > .table-bordered > tfoot > tr:last-child > th,
    .table-responsive > .table-bordered > tfoot > tr:last-child > td {
      border-bottom: 0; }

.visible-xs {
  display: block !important; }

table.visible-xs {
  display: table; }

tr.visible-xs {
  display: table-row !important; }

th.visible-xs,
td.visible-xs {
  display: table-cell !important; }

.visible-xs-block {
  display: block !important; }

.visible-xs-inline {
  display: inline !important; }

.visible-xs-inline-block {
  display: inline-block !important; }

.hidden-xs {
  display: none !important; }

.btn {
  margin-bottom: 15px; }

.nasa-admin-video-panel .pad-bottom .btn {
  margin-bottom: 10px; }
.nasa-admin-video-panel .video-details-holder {
  text-align: center; }

.nasa-admin-video-panel .pad-bottom .btn {
  margin-bottom: 10px; }

div.dataTables_wrapper div.dataTables_length,
div.dataTables_wrapper div.dataTables_filter,
div.dataTables_wrapper div.dataTables_info,
div.dataTables_wrapper div.dataTables_paginate {
  text-align: center; }

/*# sourceMappingURL=xsmall.css.map */
