.nasa-admin-video-panel {
    display: block;
    width: 100%;

    h1 {
        text-align: center;
        color: $text-color;
        margin-bottom: 30px;
    }

    a {
        color: $teal;
    }

    .btn {
        margin-right: auto;
        margin-left: auto;
        background-color: $orange;
        color: $white;
        font-size: 14px;
        font-weight: normal;
        display: block;
        border: 0px;

        &:hover {
            background-color: $teal;
        }
    }

    .pad-bottom {
        margin-bottom: 20px;
    }

    .video-details-holder {
        display: block;
        padding: 10px 0;

        span {
            font-size: 12px;
            line-height: 15px;
            display: block;
        }
    }

    input[type="search"] {
        color: $text-color;
        background-color: $white;
    }

    table {
        thead {
            color: $white;

            tr {
                background-color: $teal;

                td {}
            }
        }

        tbody {
            tr {
                td {
                    img {
                        width: 150px;
                        display: block;
                    }
                }
            }
        }
    }

    table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
        background-color: $teal;
    }

    table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
        background-color: $orange;
    }

    .table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
        background-color: #eee;
    }

    .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
        background-color: $white;
    }

    .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
        background-color: $teal;
        border-color: $teal;
    }

    .pagination > li > a, .pagination > li > span {
        color: $teal;
    }

    .pagination > li.active > a, .pagination > li.active > span {
        color: $white;
    }
}
