// PLACE VARIABLES HERE IF YOU WISH. IT IS A GOOD PRACTICE TO DECLARE YOUR VARIABLES IN ONE PLACE. YOU DO NOT HAVE TO, BUT IT COULD MAKE THINGS EASIER FOR YOU.

$orange: #ff790e;
$teal: #12B8BC;
$white: #fff;
$text-color: #333;

// END VARIABLES

html, body {
    height: 100%;
    min-height: 100vh;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

// YOU CAN DECLARE REUSABLE CLASSES HERE

a {
    color: $teal;
}

.btn {
    display: block;
    border-radius: 4px;
    background-color: $orange;
    font-size: 12px;
    text-transform: uppercase;
    color: $white;
    padding: 8px;
    border: 0;
    margin-bottom: 0px;

    &:hover {
        background-color: $teal;
        color: $white;
    }

    &:focus {
        color: $white;
    }
}

.dropdown-menu {
    background-color: $white;

    > li > a:hover {
        background-color: $teal;
        color: $white;
    }
}

.center {
    text-align: center;
}

//global form-control dropdowns

.form-control {
    color: $text-color;
}

input[type="search"] {
    color: $text-color;
    background-color: $white;
    height: 20px;
}

input[type="search"], input[type="text"] {
    color: $text-color;
    background-color: $white;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 5px;
}

select > option:hover, select.form-control > option:hover {
    background-color: $teal;
    cursor: pointer;
}

select.form-control, input.form-control {
    background-color: $orange;
    color: $white;
}

label {
    font-weight: bold !important;
}

.modal-header {
    background-color: $teal;
    color: $white;

    button.close {
        color: $white !important;
        text-shadow: 0 1px 0 $text-color;
        opacity: 1.0;
        filter: alpha(opacity = 100);

        &:hover {
            opacity: 0.5;
            filter: alpha(opacity = 50);
        }
    }

    h4 {
        text-align: center;
    }
}

.modal-footer {
    border: none;

    button {
        display: inline-block;
        margin: 0 10px;
    }
}
