table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;

    td, th {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

    td.dataTables_empty, th.dataTables_empty {
        text-align: center;
    }

    thead > tr > th.sorting_asc,
    thead > tr > th.sorting_desc,
    thead > tr > th.sorting,
    thead > tr > td.sorting_asc,
    thead > tr > td.sorting_desc,
    thead > tr > td.sorting {
        padding-right: 30px;
    }

    thead .sorting,
    thead .sorting_asc,
    thead .sorting_desc,
    thead .sorting_asc_disabled,
    thead .sorting_desc_disabled {
        cursor: pointer;
        position: relative;
    }

    thead .sorting:after,
    thead .sorting_asc:after,
    thead .sorting_desc:after,
    thead .sorting_asc_disabled:after,
    thead .sorting_desc_disabled:after {
        position: absolute;
        bottom: 8px;
        right: 8px;
        display: block;
        font-family: 'Glyphicons Halflings';
    }

    .table-condensed > thead > tr > th {
        padding-right: 20px;
    }

    thead .sorting:after {
        content: "";
    }

    thead .sorting_asc:after {
        content: "";
    }

    thead .sorting_desc:after {
        content: "";
    }

    thead .sorting_asc_disabled:after, thead .sorting_desc_disabled:after {
        color: #eee;
    }

    thead > tr > th:active, thead > tr > td:active {
        outline: none;
    }

    .table-condensed {
        .sorting:after, .sorting_asc:after, .sorting_desc:after {
            top: 6px;
            right: 6px;
        }
    }
}

div.dataTables_wrapper div.dataTables_length {
    label {
        font-weight: normal;
        text-align: left;
        white-space: nowrap;
    }

    select {
        width: 75px;
        display: inline-block;
    }
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;

    label {
        font-weight: normal;
        white-space: nowrap;
        text-align: left;
    }

    input {
        margin-left: 0.5em;
        display: inline-block;
        width: auto;
    }
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 8px;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;

    ul.pagination {
        margin: 2px 0;
        white-space: nowrap;
    }
}

div.dataTables_wrapper div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center;
    padding: 1em 0;
}

div.dataTables_scrollHead {
    table {
        .dataTable {
            margin-bottom: 0 !important;
        }

        .table-bordered {
            border-bottom-width: 0;
        }
    }
}

div.dataTables_scrollBody {
    table {
        border-top: none;
        margin-top: 0 !important;
        margin-bottom: 0 !important;

        thead {
            .sorting:after, .sorting_asc:after, .sorting_desc:after {
                display: none;
            }
        }

        tbody {
            tr:first-child {
                th, td {
                    border-top: none;
                }
            }
        }
    }
}

div.dataTables_scrollFoot table {
    margin-top: 0 !important;
    border-top: none;
}

table {
    .table-bordered {
        .dataTable {
            border-collapse: separate !important;

            th, td {
                border-left-width: 0;
            }

            th:last-child, th:last-child, td:last-child, td:last-child {
                border-right-width: 0;
            }

            tbody {
                th, td {
                    border-bottom-width: 0;
                }
            }
        }
    }
}

div.table-responsive > div.dataTables_wrapper > div.row {
    margin: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child {
    padding-left: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child {
    padding-right: 0;
}
