.form-horizontal {
  // Reset spacing and right align labels, but scope to media queries so that
  // labels on narrow viewports stack the same as a default form example.
  .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: ($padding-base-vertical + 1); // Default padding plus a border
  }

  // Form group sizes
  //
  // Quick utility class for applying `.input-lg` and `.input-sm` styles to the
  // inputs and labels within a `.form-group`.
  .form-group-lg {
    .control-label {
      padding-top: (($padding-large-vertical * $line-height-large) + 1);
    }
  }
  .form-group-sm {
    .control-label {
      padding-top: ($padding-small-vertical + 1);
    }
  }
}

