@include responsive-visibility('.visible-lg');

.visible-lg-block {
    display: block !important;
}
.visible-lg-inline {
    display: inline !important;
}
.visible-lg-inline-block {
    display: inline-block !important;
}

@include responsive-invisibility('.hidden-lg');